extends layout

block content
 div(class='body')
      br
      h1 Bienvenue dans notre application : Gestion de personels
      hr
      hr
      br
      br
      p L'objectif est de  réaliser une application web à l’aide du framework express (ou autre), et de la base de données orienté documents MongoDB.
      br
      br
      p Cette application permet de  gérer les informations personnelles des employés. Celle-ci devra:
      br
      ul
         li permettre la saisie des fiches personnelles (prénom, nom, date de naissance, poste, salaire, date d’entrée, date de sortie, photos, numéro d’arrivée, mail).
         br

         li afficher la liste des employés, et les fiches personnelles.
         br

         li afficher quelques statistiques autour du salaire, de l’age.
         br

